fastapi>=0.116,<0.117
uvicorn>=0.35,<0.36
SQLAlchemy>=2.0,<3.0
alembic>=1.16,<2.0
asyncpg>=0.30,<0.31
psycopg2-binary>=2.9,<3.0
python-dotenv>=1.0,<2.0
python-jose>=3.5,<4.0
passlib>=1.7,<2.0
argon2-cffi>=25.1,<26.0
python-json-logger>=3.3,<4.0
PyYAML>=6.0,<7.0